<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U-Jobi</title>
</head>
<body>

<header>
    <nav class ="head1 ">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">U-Jobi</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Welcome Vidhi</a></li>
                    <li><a href="badges.html">Signout</a></li>
                    <li>    <img src="images/yuna.jpg" alt="" class="circle"> <!-- notice the "circle" class -->
                    </li>
                </ul>
            </div>
        </nav>

</header>

<!-- SideBar -->
    <div class="sideBar">
    <div class  = "container"></div>
    <ul id="slide-out" class="side-nav fixed">
        <ul>
            <li><a href="personal.html">Personal Information</a></li>
            <li><a href="jobExperience.html">Job Experience</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="achievements.html">Achievements</a></li>
        </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
</div>




    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="javascripts/myApp.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


</body>
</html>