<div  ng-controller="viewProfileController" ng-init="init()">
    hello {{userInSession}}
    your email id is {{userInsessionID}}
    <div>
        <Br>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
            <button ng-click = "viewProfile()" type="submit" class="btn btn-warning" >View <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>
        <br>

    <div id="personalInfo1"> <h4>Personal Information</h4>
        <div ng-repeat="info in personalInfo" id="Info1">
           First Name: <input  name="first_name" placeholder="First Name" disabled="disabled" class="form-control"  type="text" ng-model="info.fname">
           Last Name:  <input  name="last_name" placeholder="Last Name" disabled="disabled" class="form-control" type="text" ng-model="info.lname">
           Phone: <input  name="phone" placeholder="Address" disabled="disabled" class="form-control"  type="text" ng-model="info.phone">
           Address: <input  name="address1" placeholder="Address" disabled="disabled" class="form-control"  type="text" ng-model="info.address1">
           Zip: <input  name="zip" placeholder="Address" disabled="disabled" class="form-control"  type="text" ng-model="info.zip">

            <button ng-click="updateProfile(info)" type="submit" class="btn btn-warning" >Update <span class="glyphicon glyphicon-send"></span></button>
            <div class="col-md-4">
                <button ng-click="editFieldsHere()" type="submit" class="btn btn-warning" >edit <span class="glyphicon glyphicon-send"></span></button>
            </div><br>
         </div><br>

    </div>
    <div id="jobExperience1">  <h4>jobExperience </h4>
        <div ng-repeat="info in jobExp" id=" exp1">
            Company Name: <input  name="first_name" placeholder="First Name" disabled="disabled" class="form-control"  type="text" ng-model="info.companyName">
            Title:  <input  name="last_name" placeholder="Last Name" disabled="disabled" class="form-control" type="text" ng-model="info.title">
            Location: <input  name="phone" placeholder="Address" disabled="disabled" class="form-control"  type="text" ng-model="info.location">
            Responsibilities: <input  name="address1" placeholder="Address" disabled="disabled" class="form-control"  type="text" ng-model="info.desc">

            <button ng-click="updateJobX(info)" type="submit" class="btn btn-warning" >Update <span class="glyphicon glyphicon-send"></span></button>
            <div class="col-md-4">
                <button ng-click="editFieldsHere()" type="submit" class="btn btn-warning" >edit <span class="glyphicon glyphicon-send"></span></button>
            </div><br>
        </div><br>
    </div>

    <div id="skills1"><h4>Skills </h4>
        <div ng-repeat="skills1 in userSkill" id=" skill1">
            skills: <input  name="first_name" placeholder="First Name" disabled="disabled" class="form-control"  type="text" ng-model="skills1.skills">
            <button ng-click="updateSkill(skills1)" type="submit" class="btn btn-warning" >Update <span class="glyphicon glyphicon-send"></span></button>
            <div class="col-md-4">
                <button ng-click="editFieldsHere()" type="submit" class="btn btn-warning" >edit <span class="glyphicon glyphicon-send"></span></button>
            </div><br>
        </div><br>
    </div>
    <div id="projects1"><h4>Projects </h4>
        <div ng-repeat="info in userProject" id=" proj1">
            <h6> Project Name: {{info.projectName}}</h6>
            <h6> projectWebsite : {{info.projectWebsite}}</h6>
            <h6> projectDesc: {{info.projectDesc}}</h6>
            <h6> projectDesc: {{info.fileName}}</h6>
        </div>
    </div>
    <div id="education1"><h4>Education </h4>
        <div ng-repeat="info in userEducation" id=" edu1">
            <h6> School Name: {{info.schoolName}}</h6>
            <h6> Degree : {{info.degree}}</h6>
            <h6> Major: {{info.major}}</h6>
        </div>
    </div>
    <div id="achievements1"><h4>Achievements </h4>
        <div ng-repeat="info in userAchievements" id=" achi1">
            <h6> Achievement Name: {{info.achievementName}}</h6>
            <h6> Title : {{info.achievementTitle}}</h6>
            <h6> Award: {{info.achievementAward}}</h6>
            <h6> Desc: {{info.achievementDesc}}</h6>
        </div>
    </div>


    </div>
</div>

